<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/style.css">
    <link rel="stylesheet" href="../public/responsive.css">
    <title>Communitity</title>
</head>
<body>
    <header class="header-background">
        <div class="header-inner">
            <div class="logo">
                <h3>
                    <b><span class="">United</span><span class=""> We </span><span class="green">Stand</span></b>
                </h3>
            </div>
            
        </div>
    </header>
    <section class="banner-background">
        <div class="content-background">
            <div class="content">
                <div class="content-left">

                    <h1 class="white banner-text h1">We Need
                    <span
                        class="txt-rotate green"
                        data-period="2000"
                        data-rotate='[ "Accountability.", "Responsibilty.", "Selflessness.", "Change.", "Action!" ]'></span>
                    </h1>
                    <p class="banner-text p">Join the biggest <span class="underline">Communitity</span> in Nigeria.
                        <br>
                    Together we can shine the <span class="underline">spotlight </span>on problems your Communitity.
                        <br>
                    <span class="underline">Track the projects</span> and their progress promised by elected officials.
                    </p>
                    
                    <div class="banner-button">
                        <a href="/findMyCommunity">
                            <div class="btn white push-right">
                                <span class="thick-underline"><b>Find Your Communitity</b></span>
                            </div>
                        </a>
                        <a href="">
                            <div class="btn white">
                                <span class="thick-underline"><b>Fight For Your Right</b></span>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="content-right">
                    <img src="../public/img/coats.png" alt="">
                </div>
                
            </div>
            <div class="content-footer">
                    <h3>
                        <b>
                            <span class="white">Divided</span>
                            <span class="white"> We </span>
                            <span class="green">Fall</span></b>
                    </h3>
                </div>
        </div>
    </section>


</body>
<script>


var TxtRotate = function(el, toRotate, period) {
  this.toRotate = toRotate;
  this.el = el;
  this.loopNum = 0;
  this.period = parseInt(period, 10) || 2000;
  this.txt = '';
  this.tick();
  this.isDeleting = false;
};

TxtRotate.prototype.tick = function() {
  var i = this.loopNum % this.toRotate.length;
  var fullTxt = this.toRotate[i];

  if (this.isDeleting) {
    this.txt = fullTxt.substring(0, this.txt.length - 1);
  } else {
    this.txt = fullTxt.substring(0, this.txt.length + 1);
  }

  this.el.innerHTML = '<span class="wrap">'+this.txt+'</span>';

  var that = this;
  var delta = 300 - Math.random() * 100;

  if (this.isDeleting) { delta /= 2; }

  if (!this.isDeleting && this.txt === fullTxt) {
    delta = this.period;
    this.isDeleting = true;
  } else if (this.isDeleting && this.txt === '') {
    this.isDeleting = false;
    this.loopNum++;
    delta = 500;
  }

  setTimeout(function() {
    that.tick();
  }, delta);
};

window.onload = function() {
  var elements = document.getElementsByClassName('txt-rotate');
  for (var i=0; i<elements.length; i++) {
    var toRotate = elements[i].getAttribute('data-rotate');
    var period = elements[i].getAttribute('data-period');
    if (toRotate) {
      new TxtRotate(elements[i], JSON.parse(toRotate), period);
    }
  }
  // INJECT CSS
  var css = document.createElement("style");
  css.type = "text/css";
  css.innerHTML = ".txt-rotate > .wrap { border-right: 0.08em solid #ffffff }";
  document.body.appendChild(css);
};


</script>
</html>