<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/style.css">
    <link rel="stylesheet" href="../public/responsive.css">
    <title>Communitity</title>
</head>
<body>
    <header class="header-background">
        <div class="header-inner">
            <div class="logo">
                <h3>
                    <b><span class="">United</span><span class=""> We </span><span class="green">Stand</span></b>
                </h3>
            </div>
            
        </div>
    </header>
    <section class="banner-background">
        <div class="content-background">
            <div class="content">
                <div class="content-left">
                    <h1 class="banner-text h1">We Need <span class="green">Accountability</span>.</h1>
                    <p class="banner-text p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis explicabo amet tempore eius aspernatur obcaecati alias tempora cupiditate, nisi dolore?</p>
                    <div class="banner-button">
                        <div class="btn white" style="margin-right: 15px;">
                            <b>Find Your Communitity</b>
                        </div>
                        <div class="btn white">
                            <b>Fight For Your Right</b>
                        </div>
                    </div>
                </div>
                <div class="content-right">
                    <img src="../public/img/coats.png" alt="">
                </div>
                
            </div>
            <div class="content-footer">
                    <h3>
                        <b>
                            <span class="white">Divided</span>
                            <span class="white"> We </span>
                            <span class="green">Fall</span></b>
                    </h3>
                </div>
        </div>
    </section>


</body>
</html>